<div class="row">
  <div class="col-xs-12">
    <h1 *ngIf="projectSelected">{{ project.name }} : {{ project.id }}</h1>
  </div>
</div>
<div class="row">
  <form (ngSubmit)="onAddItem(f)" #f="ngForm">
    <div class="col-xs-3 form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Add Issue</button>
    </div>
    <div class="col-xs-12 form-group">
      <input type="text" class="form-control" id="issue" name="issue" ngModel required>
    </div>
  </form>
</div>

<br>

<!-- <div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item issue-item" *ngFor="let issue of project.issues; let i = index"
        [ngClass]="{'issue-done' : IssueDone }">
        {{ issue }}
        <span class="pull-right">
          <img src="https://img.icons8.com/office/16/000000/ok.png" (click)="onDone(i)">
          <img src="https://img.icons8.com/ios/32/000000/edit.png" (click)="onEdit(i)">
          <img src="https://img.icons8.com/flat_round/64/000000/delete-sign.png" (click)="onDelete(i)">
        </span>
      </li>
    </ul>
  </div>
</div> -->